# Properties needed for tests to execute
################################################################################
# Humio URL and API Token to test against
################################################################################
humiourl=https://localhost:8080/
apitoken=

################################################################################
# Queries to run tests against
################################################################################
select1=
delete1=
